test
asd

  <!-- gui application code -->
  <script type="text/javascript" src="/assets/angularjs/core/module.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/alwaysNumberFilter.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/basenameFilter.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/binaryFilter.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/localeNumberFilter.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/percentFilter.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/durationFilter.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/eventService.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/identiconDirective.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/languageSelectDirective.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/lastErrorComponentFilter.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/localeService.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/modalDirective.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/metricFilter.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/notificationDirective.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/pathIsSubDirDirective.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/popoverDirective.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/syncthingController.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/tooltipDirective.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/uncamelFilter.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/uniqueFolderDirective.js"></script>
  <script type="text/javascript" src="/assets/angularjs/core/validDeviceidDirective.js"></script>
  <script type="text/javascript" src="assets/lang/valid-langs.js"></script>
  <script type="text/javascript" src="assets/lang/prettyprint.js"></script>
  <!-- <script type="text/javascript" src="meta.js"></script> -->
  <script type="text/javascript" src="/assets/angularjs/app.js"></script>
  <!-- / gui application code -->